<div id="filter-bar" class="btn-group">
  <label class="btn btn-dark" [(ngModel)]="filters.tsl" title="filter for specifications"
         btnCheckbox tabindex="0" role="button" (click)="onClick()"><i class="fa fa-file tsl-file-color"></i></label>
  <label class="btn btn-dark" [(ngModel)]="filters.tcl" title="filter for tests"
         btnCheckbox tabindex="0" role="button" (click)="onClick()"><i class="fa fa-file tcl-file-color"></i></label>
  <label class="btn btn-dark" [(ngModel)]="filters.aml" title="filter for application mappings"
         btnCheckbox tabindex="0" role="button" (click)="onClick()"><i class="fa fa-file aml-file-color"></i></label>
</div>
